*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(45deg, blue, rgb(222, 27, 173));
    height: 100vh;
}

#corpo{  
    margin: auto;
    background-color: rgba(191, 246, 246, 0.416);
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 5px 5px 80px;
    margin-top: 40px;
    box-shadow: rgba(243, 198, 226, 0.502) 1px 1px 10px;

}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900px;
    color: rgba(235, 239, 244, 0.763);
    text-shadow:rgba(20, 69, 84, 0.381) 1px 1px 10px  ;
}
#tarefa{

    margin-top: 2rem;
    padding: 10px;
    width: 15rem;
    box-shadow: rgba(11, 1, 7, 0.285) 1px 1px 10px;
    border: none;
    border-color: rgb(105, 105, 105);
    outline: none;
    font-size: 18px;
    border-radius: 2px 0px 0px 2px;
    background-color: rgb(251, 223, 228);
    font-weight: bold;


}
hr{
    width: 300px;
    margin: auto;
    color: rgba(0, 255, 255, 0.281);
    border-color: rgba(252, 254, 254, 0.174);
}
#botao{
    padding: 9px;
    height: 41px;
    border-radius:0px 5px 20px 0px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: rgba(115, 249, 249, 0.895);
    background-color: rgba(111, 16, 199, 0.678);
    transition: .5s;
    box-shadow: rgba(227, 241, 241, 0.817) 1px 1px 10px;
    
    
    
}
#botao:hover{
    background-color: rgb(81, 25, 237);
}
